.logo {
  float: left;
  width: 120px;
  height: 45px;
  margin-left: auto;
  margin-top: 12px;
  margin-left: 7%;
  margin-right: auto;
  background-image: url('../img/logo.png');
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}

.support {
  margin-left: 60%;
}

.Menu {
  font-size: medium;
}
